{% extends "layout.html" %}
{% block content %}
<form action="/deniro/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldYear">Year</label>
            <input id="fldYear" type="text" class="form-control" placeholder="Year" name="fldYear">
        </div>
        <div class="col">
            <label for="fldScore">Score</label>
            <input id="fldScore" type="text" class="form-control" placeholder="Score"
                   name="fldScore">
        </div>
        <div class="col">
            <label for="fldTitle"> Score </label>
            <input id="fldTitle" type="text" class="form-control" placeholder="Title" name="fldTitle">
        </div>

        <div class="col">
            <label for="fldColumn_6"> Column_6 </label>
            <input id="fldColumn_6" type="text" class="form-control" placeholder="Column_6" name="fldColumn_6">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}