{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ deniro.fldYear }} - {{ deniro.fldYear }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ deniro.fldScore }}</li>
        <li class="list-group-item">{{ deniro.fldTitle }}</li>
         <li class="list-group-item">{{ deniro.fldColumn_6 }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{deniro.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{deniro.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}